---
---
@import "normalize";
@import "settings";
@import "foundation";
@import url("//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700");

.primary-nav {
    font-size: 18pt;
}

pre > code {
    display: block;
}

code {
    border: 0;
    border-style: none;
    color: #222222;
    background-color: inherit;
    font-family: Consolas,"Liberation Mono",Courier,monospace;
    font-weight: normal;
    font-size: 12pt;
    line-height: 1.2;
}

.highlight {
    margin-bottom: 1.25rem;
}

.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.profile-photo {
    /*text-align: center;*/
    img {
        max-width: 500px;
    }
}

.project-tech {
    color: #777;
}

.swipe-container{
  position: relative;
  .swipe-right {
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
  }
}

ul.gallery {
  list-style: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

ul.gallery li {
  position: relative;
}

ul.gallery li .overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  height: 100%;
  display: inline;
  vertical-align: middle;
  padding-top: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.402);
  color: lightgray;
  font-weight: 400;
  opacity: 0;
  transition: opacity .3s ease-in-out;
}


ul.gallery li:hover .overlay{
  opacity: 1;
}
