---
title: projects
author: dirk
layout: page
---

<p>These are some things I've worked on - some for fun, some for profit and some for both!</p>

{% for project in site.projects|dictsort:'importance' %}
  <div class="project">
    <div class="title">
      <h2>{{ project.title }}</h2>
      <span class="project-tech"><i class="fa fa-wrench"></i> {{project.tech}}</span>
    </div>
    {% if project.image %}
      {% capture image_align %}{% cycle 'right', 'left' %}{% endcapture %}
      <div class="image {{image_align}}">
        <img src="{{site.baseurl}}{{project.image}}" alt="{{project.image_alt}}" />
      </div>
    {% endif %}
    <div class="description">
      {{ project.output }}
    </div>
  </div>
{% endfor %}


