---
layout: base
---
<div class="row">
  <div class="large-12 columns">
    <h1><a href='{{ site.baseurl }}/'>The b(ack)log</a></h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
  <ul class="primary-nav inline-list">
    <li {% include active_nav.html url='/' %}><a href="{{site.baseurl}}/">about</a></li>
    <li {% include active_nav.html url='/projects/' %}><a href="{{site.baseurl}}/projects/">projects</a></li>
    <li {% include active_nav.html url='/bookshelf/' %}><a href="{{site.baseurl}}/bookshelf/">bookshelf</a></li>
    <li {% include active_nav.html url='/hiking/' %}><a href="{{site.baseurl}}/hiking/">hiking</a></li>
    <li {% include active_nav.html url='/blog/' %}><a href="{{site.baseurl}}/blog/">blog</a></li>
  </ul>
  </div>
</div>

{{ content }}

